.u-section-1 .u-sheet-1 {
  min-height: 2274px;
}

.u-section-1 .u-list-1 {
  width: 950px;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1342px;
  grid-gap: 0px 0px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-1 .u-icon-1 {
  width: 95px;
  height: 95px;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 0;
}

.u-section-1 .u-icon-2 {
  width: 95px;
  height: 95px;
  color: rgb(0, 0, 0) !important;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  font-size: 1rem;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 0;
}

.u-section-1 .u-icon-3 {
  width: 95px;
  height: 95px;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-6 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 0;
}

.u-section-1 .u-icon-4 {
  width: 95px;
  height: 95px;
  color: rgb(255, 255, 255) !important;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-8 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 19px 0;
}

.u-section-1 .u-icon-5 {
  width: 95px;
  height: 95px;
  color: rgb(255, 255, 255) !important;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-10 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-image-1 {
  width: 242px;
  height: 242px;
  background-image: url("images/1693007925204_k79dkm_2_0.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -1553px auto 0 105px;
}

.u-section-1 .u-text-11 {
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 3rem;
  margin: 38px auto 0 108px;
}

.u-section-1 .u-text-12 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 29px 988px 0 39px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-2 {
  width: 831px;
  margin: 1524px 0 60px 569px;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 343px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 422px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 172px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 422px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-4 {
    line-height: 1.8;
    font-weight: normal;
    font-style: italic;
    margin-left: 172px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 422px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 172px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 422px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 172px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 422px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-10 {
    line-height: 1.8;
    font-weight: normal;
    margin-left: 172px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 443px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1280px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 60px;
    margin-right: 593px;
    margin-left: 80px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 517px;
    margin-left: 339px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 312px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 312px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 312px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 312px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 312px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 177px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 930px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1152px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 268px;
  }

  .u-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 194px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 194px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 194px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 194px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 194px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 530px;
  }

  .u-section-1 .u-text-11 {
    font-size: 4.5rem;
    margin-top: -751px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 88px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 116px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 730px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-11 {
    font-size: 3.75rem;
    margin-top: -952px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    margin-top: 203px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.19) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.19) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}