 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2893px;
}

.u-section-1 .u-list-1 {
  width: 929px;
  margin: 25px 21px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1805px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-1 .u-icon-1 {
  width: 95px;
  height: 95px;
  color: rgb(255, 255, 255) !important;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  font-style: normal;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 0;
}

.u-section-1 .u-icon-2 {
  width: 95px;
  height: 95px;
  color: rgb(255, 255, 255) !important;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 0;
}

.u-section-1 .u-icon-3 {
  width: 95px;
  height: 95px;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-6 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  font-style: normal;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 0;
}

.u-section-1 .u-icon-4 {
  width: 95px;
  height: 95px;
  color: rgb(255, 255, 255) !important;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-8 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  font-style: normal;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 19px 0;
}

.u-section-1 .u-icon-5 {
  width: 95px;
  height: 95px;
  margin: 3px auto 0 43px;
  padding: 20px;
}

.u-section-1 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -95px 427px 0 177px;
}

.u-section-1 .u-text-10 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  font-weight: normal;
  margin: 23px auto 3px 177px;
}

.u-section-1 .u-image-1 {
  width: 187px;
  height: 187px;
  background-image: url("images/1693007925204_k79dkm_2_0.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -1805px auto 0 132px;
}

.u-section-1 .u-text-11 {
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 23px 1057px 0 109px;
}

.u-section-1 .u-text-12 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 25px 988px 0 39px;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-style: normal;
  margin: 34px auto 0 85px;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 33px auto 0 202px;
  padding: 15px;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -64px auto 0 124px;
  padding: 15px;
}

.u-section-1 .u-icon-8 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -64px auto 0 279px;
  padding: 15px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-style: solid;
  text-transform: none;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  font-weight: normal;
  margin: 18px auto 0 118px;
  padding: 3px 65px 4px 64px;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: center top 0px;
  width: 250px;
  margin: -216px auto 0 109px;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: center top 0px;
  width: 250px;
  margin: 79px auto 0 109px;
}

.u-section-1 .u-list-2 {
  width: 831px;
  margin: 1945px 0 60px 569px;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-top: 343px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-4 {
    line-height: 1.8;
  }

  .u-section-1 .u-text-10 {
    line-height: 1.8;
  }

  .u-section-1 .u-image-1 {
    margin-top: 443px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1280px;
    margin-right: 706px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 60px;
    margin-right: 593px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 1072px;
    margin-left: 39px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -111px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 43px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -371px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1659px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: -255px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 1949px;
    margin-bottom: 0;
    margin-left: 339px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 323px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 323px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 323px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 323px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 323px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 930px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1152px;
    margin-right: 486px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 268px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -73px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 214px;
  }

  .u-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 216px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 216px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 216px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 216px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 216px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 530px;
  }

  .u-section-1 .u-text-11 {
    font-size: 4.5rem;
    margin-top: -751px;
    margin-right: 306px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 88px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -63px;
    margin-left: 152px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5545px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 433px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 3722px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 202px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 3px;
    margin-bottom: -57px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 202px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 3px;
    margin-bottom: -57px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 202px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 3px;
    margin-bottom: -57px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 202px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 3px;
    margin-bottom: -57px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 202px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 3px;
    margin-bottom: -57px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 156px;
    height: 156px;
    margin-top: -4323px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    width: 125px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 23px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 5125px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -5151px;
    margin-left: 218px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -64px;
    margin-left: 58px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -64px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 400;
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    width: 0;
    margin-top: 2630px;
    margin-left: 39px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 412px;
    margin-left: 90px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 1927px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-6,
.u-section-1 .u-icon-6:before,
.u-section-1 .u-icon-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-6.u-icon-6.u-icon-6:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-6.u-icon-6.u-icon-6.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-container-layout:hover .u-icon-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-7,
.u-section-1 .u-icon-7:before,
.u-section-1 .u-icon-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-7.u-icon-7.u-icon-7:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-7.u-icon-7.u-icon-7.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-container-layout:hover .u-icon-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-8,
.u-section-1 .u-icon-8:before,
.u-section-1 .u-icon-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-8.u-icon-8.u-icon-8:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
  stroke-width: 1px !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  stroke: #000000 !important;
  border-color: #000000 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-8.u-icon-8.u-icon-8.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
  stroke-width: 1px !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  stroke: #000000 !important;
  border-color: #000000 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-container-layout:hover .u-icon-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}